@{
    ViewData["Title"] = "CadCenter";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao CadCenter</h1>
    <p>Sua central de cadastros</p>
    <p>Aperte e vá para Cadastros</p>
    <a class="btn btn-primary" asp-area="" asp-controller="Contatos" asp-action="Listar">Cadastro</a>
</div>
